.idea/
*.iml

.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

*.class

*.log

target/

# Gradle
.gradle/
build/

*.tmp
*.swp
*.bak
*.temp

.DS_Store
Thumbs.db

work/
temp/
logs/

*.war
*.ear
*.jar

.env
.env.*

*.db
*.sqlite

out/

glassfish-web.xml
payara-resources.xml